@import './base.css';
@import "tailwindcss";


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.maroon {
  color: rgb(99, 10, 16);
  text-decoration: none;
  transition: 0.4s;
  padding: 3px
}

.red {
  color: rgb(145, 31, 39);
  text-decoration: none;
  transition: 0.4s;
  padding: 3px
}

.yellow {
  color: rgb(247, 208, 152);
  text-decoration: none;
  transition: 0.4s;
  padding: 3px
}

.beige {
  color: rgb(252, 240, 200);
  text-decoration: none;
  transition: 0.4s;
  padding: 3px
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display:flex;
    place-items: center;
  }

  #app {
    display:flex;
    min-width: none;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}